<nav>
    <ul>
        <!-- Main Site Category -->
        <li><a href="#" class="active">Main Site</a>
            <ul class="dropdown">
                <li><a href="/">Главная</a></li>
                <li><a href="/BlockedSites">Заблокированные Сайты</a></li>
                <li><a href="/section5">Гайд по Linux</a></li>

            </ul>
        </li>

        <!-- Tasks Category -->
        <li><a href="#">Tasks</a>
            <ul class="dropdown">
                <li><a href="/section1">Списики и Таблицы</a></li>
                <li><a href="/section2">Картинки</a></li>
                <li><a href="/section3">Паспорт</a></li>
                <li><a href="/section4">Алгоритимическая задача</a></li>
                <li><a href="https://www.nytimes.com/games/wordle/index.html" target="_blank" id="rainbow-btn">Wordle</a></li>
            </ul>
        </li>
    </ul>
</nav>
