<!-- if you're uploading from github pls check app.js -->
<!DOCTYPE html>
<html lang="ru">

<head>

    <!-- include the head -->
    <%- include('partials/head') %>
    <title>Главная Страница</title>

</head>


<body>

    <header>
        <!-- Include the header -->
        <%- include('partials/header') %>

    </header>

        <h1 style="text-align: center">Добро пожаловать на сайт</h1>
        <h2 style="text-align: center">Используйте навигацию, чтобы переключаться между разделами сайта</h2>

    <footer>
        <!-- Include the footer -->
        <%- include('partials/footer') %>
    </footer>

</body>

</html>
