<!DOCTYPE html>
<html lang="ru">

<head>

    <!-- include the head -->
    <link rel="stylesheet" href="/section5.css">
    <%- include('partials/head') %>
    <title>Главная Страница</title>

</head>


<body>

    <header>
        <!-- Include the header -->
        <%- include('partials/header') %>

    </header>
    <div><h1>Гайд по Linux(если вам некуда тратить своё время)</h1></div>
    <div><h1>(Это правда настоящий гайд)</h1></div>

     <div class="container">

         <ol class="reasons-list">
            <li>
                <h2>Узнать что такое <a href="https://www.youtube.com/watch?v=PKmr2jF26sc" target="_blank" class="youtube-link">Microsoft Copilot</a></h2>
                <p>И если вам кажется, что искусственный интеллект подозрительно заглядывает вам через плечо, то в Linux нет Microsoft Copilot, и вообще... нет Microsoft...</p>
            </li>
            <li>
                <h2>Попытаться избавиться от <a href="https://www.youtube.com/watch?v=mwUBeqHqSas" target="_blank" class="youtube-link">"Windows bloatware"</a> и может <a href="https://github.com/massgravel/Microsoft-Activation-Scripts" target="_blank" class="youtube-link">активировать Windows?</a></h2>
                <p>или кто такой этот ваш Antimalware service executable и почему он  грузит ваш Honor ультрабук на 100%. Удалите пожалуйста <a href="https://www.youtube.com/watch?v=2OWxjFaqT64" target="_blank" class="youtube-link">антивирус</a></p>
            </li>
            <li>
                <h2>Удалить Windows</h2>
                <p>и даже <s>3999$</s> бесплатный MacOS(да MacOS можно удалить), хотя если вы купили Mac на ARM процессоре, то вас не спасти</p>
            </li>
            <li>
                <h2>Скажите: "Пока!" <a href="https://www.youtube.com/watch?v=0ucD-la4GgE" target="_blank" class="youtube-link">синему экрану смерти</a>(или почему аэропорт перестал работать)</h2>
                <p>Вместо этого приготовьтесь к Черному экрану... самоанализа... и 10 часов смотреть в командную строку((((</p>
            </li>
            <li>
                <h2>Установить <a href="https://www.youtube.com/watch?v=BeqHZF45oyE" target="_blank" class="youtube-link"><s>бомжара</s>  Manjaro Linux</a>(или убунту)</h2>
                <p>спустя 5 минут удалить это недоразумение.(А лучше пропустить этот шаг)</p>
            </li>
              <li>
                  <h2>Узнать кто такой <a href="https://www.youtube.com/watch?v=iYWzMvlj2RQ" target="_blank" class="youtube-link">Линус Торвальд</a> и кто создал великий и всемогущий <a href="https://git-scm.com" target="_blank" class="youtube-link">GIT!</a></h2>
                <p>Но я его осуждаю как человека</p>
            </li>
            <li>
                <h2>Искать месяц дистрибутив</h2>
                <p>Я, конечно, могу предложить варианты: <a href="https://fedoraproject.org" target="_blank" class="youtube-link">Fedora,</a> <a href="https://archlinux.org/download/" target="_blank" class="youtube-link"> Arch Linux,</a> <a href="https://www.gentoo.org/downloads/" target="_blank" class="youtube-link">Gentoo(критически нерекомендуется дли новичков, шансы на успешную установку равны примерно 0%)</a> Собственно остальные дистрибутивы тяжело порекомендовать случайному человеку, поэтому, очевидно, что у каждого тут свой путь, а потому
                    <a href="https://distrowatch.com/images/other/distro-family-tree.png" target="_blank" class="youtube-link">ознакомьтесь с деревом дистрибутивов</a></p>
            </li>
             <li>
                <h2>Да начнётся веселье</h2>
                 <p><a href="https://www.youtube.com/watch?v=42iQKuQodW4" target="_blank" class="youtube-link">Linux File System(directories)</a> — это самая база</p>
                 <p><a href="https://www.youtube.com/watch?v=qsP_sBUbmZM" target="_blank" class="youtube-link">File systems</a> — или почему ваш ваш exFat не будет работать на Windows</p>
                 <p><a href="https://www.youtube.com/watch?v=2Z6ouBYfZr8" target="_blank" class="youtube-link">Disk Partitions</a> — без этого вы не установите Arch, Gentoo, да и вообще пользователю Linux это надо знать</p>
                 <p><a href="https://www.youtube.com/watch?v=wczb8BJEwgk" target="_blank" class="youtube-link">Терминал</a> — ещё одна база</p>
                 <p><a href=https://www.youtube.com/watch?v=npR4vHLA890" target="_blank" class="youtube-link">DE и WM</a> — изучите что такое Xorg, Wayland, что такое Desktop Environment и Window Manager</p>
                 <p><a href="https://wiki.archlinux.org/title/Main_page" target="_blank" class="youtube-link">Arch Wiki</a> — даже если вы не используете арч, то обращаться к данной вики необходимо</p>
                 <p>Смотреть очень много гайдов</p>
             </li>
             <li>
                 <h2>Welcome to <a href="https://youtu.be/5Lt7nkMP1Ms?si=fgoexpGIWmW4V7j3" target="_blank" class="youtube-link">Linux Rice!</a></h2>
                 <p>Установили Linux? разобрались? Пора расслабиться и вступить в <a href="https://www.reddit.com/r/unixporn/" target="_blank" class="youtube-link"> r/unixporn</a></p>
            </li>
              <li>
                 <h2><a href="https://www.youtube.com/watch?v=3ia42UkRUHI" target="_blank" class="youtube-link">Enjoy Linux</a></h2>

            </li>
            <li>
                <h2>Нет софта под линукс?</h2>
                <p>Ну если у софта открытый код, то скомпилируй(<a href="https://losst.pro/kompilyatsiya-programm-linux" target="_blank" class="youtube-link">debian based</a> | <a href="https://wiki.archlinux.org/title/Makepkg_(Русский)" target="_blank" class="youtube-link">Arch based</a>), а если нет то...ну... <a href="https://gitlab.com/risingprismtv/single-gpu-passthrough/-/wikis/1)-Preparations" target="_blank" class="youtube-link">GPU passthrough?</a></p>
            </li>

            <li>
                <h2>Игры на Linux?</h2>
                <p>Хвала великому <a href="https://www.protondb.com" target="_blank" class="youtube-link"> протону </a> теперь 90% игр работают на Linux!</p>
            </li>
            <li>
                <h2><a href="https://www.youtube.com/watch?v=S8s9uzPIqQ4" target="_blank" class="youtube-link">Установите Gentoo</a> или скомпилируйте ядро(hardcore edition)</h2>
                <p>Да я делаю это каждый день, чтобы получить 0.5% больше производительности в blender</p>
            </li>
             <li>
                <h2>Удалить Linux</h2>
                <p>поздравляем вы преисполнились в Linux и потратили несколько месяцев своей жизни, больше так не делайте</p>
            </li>
        </ol>
     </div>
    <footer>
        <!-- Include the footer -->
        <%- include('partials/footer') %>
    </footer>

</body>

</html>
<a href="" target="_blank" class="youtube-link"></a>